{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="container">Following</h1>
    {% for post in posts %}
        <div class="container col-4 card" style="padding: 10px; margin-top: 10px">
            <div class="mb-1 text-primary float-left">
                <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
                <div class="mb-1 text-muted float-right">{{ post.time_stamp }}</div>
            </div>
        <div class="mb-2 card-text float-left">{{ post.post }}</div>
        <div>
            <input type="button" data-id="{{ post.id }}" class="mb-1 card-text float-left" id="like_{{ post.id }}"
                   value="🤍"
                   style="font-size: 24px; width:fit-content; border: none; background-color: transparent"/>
            <div class="mb-1 text-muted float-right" id="like_count" style="margin-top: 15px" >{{ post.like_count }} Likes</div>
        </div>
        </div>
    {% endfor %}

{% endblock %}

