{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="container">Following</h1>
    {% for post in page_obj.object_list %}
        <div class="container col-4 card" style="padding: 10px; margin-top: 10px">
            <div class="mb-1 text-primary float-left">
                <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
                <div class="mb-1 text-muted float-right">{{ post.time_stamp }}</div>
            </div>
            <div class="mb-2 card-text float-left">{{ post.post }}</div>
            <div>
                {% if user in likes.user %}
                    <input type="button" data-user="{{ post.user.id }}" onclick="like({{ post.id }})"
                           class="mb-1 float-left" id="like_{{ post.id }}"
                           value="❤"
                           style="font-size: 24px; width:fit-content; border: none; background-color: transparent"/>
                {% else %}
                    <input type="button" data-user="{{ post.user.id }}" onclick="like({{ post.id }})"
                           class="mb-1 float-left" id="like_{{ post.id }}"
                           value="🤍"
                           style="font-size: 24px; width:fit-content; border: none; background-color: transparent"/>
                {% endif %}
                <div class="mb-1 text-muted float-right" id="like_count_{{ post.id }}" style="margin-top: 15px">
                    {{ post.like_count }} Likes
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="pagination container text-center">
    <span class="step-links text-center container" style="margin-bottom: 20px; margin-top: 20px;">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first	&nbsp;	&nbsp;</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next 	&nbsp;	&nbsp;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}

