{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="container text-center">All Posts</h1>
    <div class="container col-5 card" style="padding: 20px">
        <form action="{% url 'post' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-outline-success" style="margin-top: 10px;" value="Post"/>
        </form>
    </div>
    {% for post in page_obj.object_list %}
        <div class="container col-5 card" style="padding: 10px; margin-top: 10px">
            <div class="mb-1 text-primary float-left">
                <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
                <div class="mb-1 text-muted float-right">{{ post.time_stamp }}</div>
            </div>
            <div class="mb-1 float-left" style="margin-top: 10px">


                <div class="mb-2 card-text float-left" id="content_{{ post.id }}">{{ post.post }}</div>

                <div class="mb-2 card-text float-left" id="edit_div_{{ post.id }}" style="display: none">
                    <textarea id="edit_box_{{ post.id }}" rows="4" class='form-control' style="width: 200%"></textarea><br>
                    <button type="button" onclick="edit('{{ post.id }}')" class="btn btn-outline-primary">Edit</button>
                </div>



                {% if post.user == user %}
                    {# Edit Button #}
                    <button onclick="show_edit({{ post.id }})" class="mb-1 float-right" type="button"
                            style="font-size: 24px; width:fit-content; border: none; background-color: transparent">
                        <svg viewBox="0 0 64 64" class="mb-1" style="height: 25px;width: 25px;"
                             xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"
                             aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Edit Button</title>
                            <desc>A line styled icon from Orion Icon Library.</desc>
                            <path stroke-width="2"
                                  stroke-miterlimit="10" stroke="#202020" fill="none"
                                  d="M44.889 26.138l1.882-1.883c1.941-1.94 1.439-4.584-.5-6.524s-4.584-2.442-6.525-.5l-1.882 1.883"
                                  data-name="layer2"></path>
                            <path d="M41.814 29.212l3.075-3.074-7.027-7.027-3.074 3.074M18.164 38.809l7.026 7.026"
                                  stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none"
                                  data-name="layer2"></path>
                            <circle stroke-width="2" stroke-miterlimit="10" stroke="#202020"
                                    fill="none" r="30" cy="32" cx="32" data-name="layer1"></circle>
                            <path d="M25.19 45.835l16.624-16.623-7.026-7.027-16.624 16.624L16 47.999l9.19-2.164z"
                                  stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none"
                                  data-name="layer2"></path>
                        </svg>
                    </button>
                {% endif %}
            </div>
            {# Like Button #}
            <div>
                {% if user in likes.user %}
                    <input type="button" data-user="{{ post.user.id }}" onclick="like({{ post.id }})" class="mb-1 float-left" id="like_{{ post.id }}"
                       value="❤"
                       style="font-size: 24px; width:fit-content; border: none; background-color: transparent"/>
                {% else %}
                    <input type="button" data-user="{{ post.user.id }}" onclick="like({{ post.id }})" class="mb-1 float-left" id="like_{{ post.id }}"
                       value="🤍"
                       style="font-size: 24px; width:fit-content; border: none; background-color: transparent"/>
                {% endif %}

                <div class="mb-1 text-muted float-right" id="like_count_{{ post.id }}" style="margin-top: 15px">
                    {{ post.like_count }} Likes
                </div>
            </div>
        </div>
    {% endfor %}
    {# pagnator #}
    <div class="pagination container text-center">
    <span class="step-links text-center container" style="margin-bottom: 20px; margin-top: 20px;">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first	&nbsp;	&nbsp;</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next 	&nbsp;	&nbsp;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}

